<%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
  <main class="container">
    <section class="row">
      <div class="six columns">
        <h3>Login with your email and share your awesome secrets</h3>
      </div>
    </section>
    <section class="row">
      <div class="six columns">
        <a href="/login">
          <button class="button-primary">Login</button>
        </a>
      </div>
    </section>
  </main>
  <%- include('./partials/footer.ejs') %>
</body>
</html>
